node_modules
.env
.vscode

# Hardhat files
/cache
/artifacts

# Foundry files
/out
/cache_forge
/broadcast

# Stateful fuzzing corpora
/corpus

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Fuzzing logs
/logs
/crytic-export

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
